---
layout: layout.njk
title: Deep House Mixes - London
image: https://deephouse.uk/images/decks.jpg
eleventyComputed:
  description: "A selection of {{ pagination.items.length }} deep house DJ mixes, over {{ pagination.items | sumDurationAsHours }} hours of music, all recorded live."
pagination:
  data: mix
  size: 100
permalink: /index.html
---
<div class="col col-sm-12 pb-3">
  <main class="card shadow bg-thistle">
    <article class="card-body pb-3">
      <div class="row row-cols-2 row-cols-sm-3 row-cols-xl-6 g-4">
        {% for mix in pagination.items %}
        <div class="col">
          <div class="card h-100" style="background-color: #{{ mix.colour }}33">
            <picture>
              <source srcset="https://pixel.plumbing/deephouse-uk/{{ mix.slug }}.jpg/full/288,/0/default.avif" type="image/avif">
              <img
                src="https://pixel.plumbing/deephouse-uk/{{ mix.slug }}.jpg/full/288,/0/default.jpg"
                class="card-img-top"
                style="aspect-ratio: 1/1"
                alt="{{ mix.title }} - Cover"
                {% if loop.index > 12 %}loading="lazy"{% endif %}>
            </picture>
            <div class="card-body">
              <h2 class="card-title h5">{{ mix.title }}</h2>
              <h3 class="card-subtitle h6 fw-normal mt-2">{{ mix.subtitle }}</h3>
              <a
                href="/mix/{{ mix.slug }}/"
                class="stretched-link"
                title="{{ mix.title }}"
              ></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </article>
  </main>
</div>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "PodcastSeries",
  "description": "{{ description }}",
  "image": "https://deephouse.uk/images/decks.jpg",
  "name": "{{ title }}",
  "url": "https://deephouse.uk",
  "webFeed": "https://deephouse.uk/feed.xml"
}
</script>
