---
layout: layout.njk
eleventyComputed:
  title: "{{ mix.title }} - {{ mix.subtitle }} - Deep House Mixes - London, UK"
  description: "A continuous deep house DJ mix, recorded live in {{ mix.month }}, featuring music from {{ mix.artists | join(', ') }}."
  image: "mix/{{ mix.slug }}"
pagination:
  data: mix
  size: 1
  alias: mix
permalink: "/mix/{{ mix.slug }}/index.html"
---
<div class="col col-sm-12 pb-3">
  <main class="card shadow bg-thistle">
    <article class="card-body">
      <div class="d-flex flex-nowrap">
        <div class="w-100">
          <h2 class="card-title pb-1 h3">{{ mix.title }}</h2>
          <p class="small pb-2">Recorded live in {{ mix.month }}</p>
          <p>
            <audio src="https://hearthis.at/deephouse-uk/{{ mix.slug }}/listen.mp3"
              preload="metadata" controls class="w-100 rounded"></audio>
          </p>
          <span
            class="position-absolute top-0 end-0 badge rounded-pill m-3"
            style="background-color: #eee">
            <span style="color: #000">
              {% if mix.popularity > 42 %}
              <svg class="align-bottom me-1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" role="img">
                <title>🎧</title>
                <use href="#headphones-000" />
              </svg>
              {{ mix.popularity }}{% else %}NEW{% endif %}
            </span>
          </span>
        </div>
      </div>
      <div class="flex-shrink-1 d-block ms-3">
        <picture>
          <source srcset="/images/mix/{{ mix.slug }}.avif" type="image/avif">
          <img
            src="/images/mix/{{ mix.slug }}.jpg"
            width="137" height="137"
            class="float-end rounded ms-2"
            alt="{{ mix.title }} - Cover">
        </picture>
      </div>
      {% if mix.bpm > 0 %}<p class="small pb-2">{{ mix.bpm }} BPM</p>{% endif %}
      <ol style="line-height:1.6">
        {% for track in mix.tracklist %}
          <li>{{ track }}</li>
        {%- endfor %}
      </ol>
      {% if mix.photoCredit %}<p class="small text-muted d-none d-md-block">{{ mix.photoCredit }}</p>{% endif %}
      <p>
        {% if mix.mixcloudSlug %}<a
          href="https://www.mixcloud.com/deephouse-uk/{{ mix.mixcloudSlug }}/"
          class="btn btn-sm btn-outline-secondary"
          rel="noreferrer"
          >Listen via Mixcloud</a
        >{% else %}<a
          href="https://hearthis.at/deephouse-uk/{{ mix.hearThisSlug }}/"
          class="btn btn-sm btn-outline-secondary"
          rel="noreferrer"
          >Listen via HearThis</a
        >{% endif %}
        <a
          href="https://hearthis.at/deephouse-uk/{{
            mix.hearThisSlug
          }}/download/"
          class="btn btn-sm btn-outline-secondary"
          rel="noreferrer"
          >Download</a
        >
        <button id="share-mix" class="d-none btn btn-sm btn-outline-secondary">Share</button>
      </p>
    </article>
  </main>
</div>
{% if mix.related %}
<div class="col col-sm-12 pb-3">
  <footer class="card shadow bg-thistle">
    <div class="card-body pb-3">
      <h3 class="card-title pb-1 h5">Related Mixes</h3>
      <div class="row row-cols-2 row-cols-sm-3 row-cols-xl-6 g-4">
        {% for related in mix.related %}
        <article class="col">
          <div class="card h-100" style="background-color: #{{ related.colour }}33">
            <picture>
              <source srcset="/images/mix/{{ related.slug }}.avif" type="image/avif">
              <img
                src="/images/mix/{{ related.slug }}.jpg"
                class="card-img-top"
                style="aspect-ratio: 1/1"
                alt="{{ related.title }} - Cover"
                loading="lazy">
            </picture>
            <span
              class="position-absolute top-0 end-0 badge rounded-pill m-2"
              style="background-color: #{{ related.colour }}"
            >
              <span style="color: #{{ related.colourContrast }}">
                {% if related.popularity > 42 %}
                <svg class="align-bottom me-1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" role="img">
                  <title>🎧</title>
                  <use href="#headphones-{{ related.colourContrast }}" />
                </svg>
                {{ related.popularity }}{% else %}NEW{% endif %}
              </span>
            </span>
            <div class="card-body">
              <h2 class="card-title h5">{{ related.title }}</h2>
              <h3 class="card-subtitle h6 fw-normal mt-2">{{ related.subtitle }}</h3>
              <a
                href="/mix/{{ related.slug }}/"
                class="stretched-link"
                title="{{ related.title }}"
              ></a>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </footer>
</div>
{% endif %}
<script>
if (navigator.share) {
  document.addEventListener("DOMContentLoaded", () => {
    const shareMix = document.getElementById("share-mix");
    shareMix.addEventListener("click", () => navigator.share({url: "https://deephouse.uk/mix/{{ mix.slug }}/"}));
    shareMix
      .classList
      .remove("d-none");
  });
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "PodcastEpisode",
  "associatedMedia": {
    "@type": "MediaObject",
    "contentUrl": "https://hearthis.at/deephouse-uk/{{ mix.hearThisSlug }}/download/"
  },
  "datePublished": "{{ mix.date.toISOString() }}",
  "description": "{{ description | safe }}",
  "hasPart": [
    {% for track in mix.tracklist %}{
      "@type": "MusicRecording",
      "name": "{{ track }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "https://schema.org/ListenAction",
    "userInteractionCount": "{{ mix.popularity }}"
  },
  "name": "{{ mix.title }} - {{ mix.subtitle }}",
  "partOfSeries": {
    "@type": "PodcastSeries",
    "name": "Deep House Mixes - London, UK",
    "url": "https://deephouse.uk"
  },
  "timeRequired": "PT{{ mix.durationSeconds }}S",
  "url": "https://deephouse.uk/mix/{{ mix.slug }}/"
}
</script>