---
layout: layout.njk
eleventyComputed:
  title: "{{ mix.title }} - {{ mix.subtitle }} - Deep House Mixes - London, UK"
  description: "A continuous deep house DJ mix, recorded live in {{ mix.month }}, featuring music from {{ mix.artists | join(', ') }}."
  image: "mix/{{ mix.slug }}"
pagination:
  data: mix
  size: 1
  alias: mix
permalink: "/mix/{{ mix.slug }}/index.html"
---
<article class="card-body" style="background-color: #{{ mix.colour }}11">
  <h3 class="card-title pb-2">{{ mix.title }}</h3>
  <div style="width: 100%; height: 130px">
    <iframe
      style="border: 0; width: 100%"
      height="130"
      src="https://app.hearthis.at/embed/{{
        mix.hearThisId
      }}/transparent/?style=2&block_size=2&block_space=1&background=0&waveform=0&cover=0&autoplay=0"
      loading="lazy"
      title="{{ mix.title }}"
    ></iframe>
  </div>
  <p class="small text-end mb-0">Recorded live in {{ mix.month }}</p>
  <p>
    {% if mix.mixcloudSlug %}<a
      href="https://www.mixcloud.com/deephouse-uk/{{ mix.mixcloudSlug }}/"
      class="btn btn-sm btn-outline-secondary"
      rel="noreferrer"
      >Listen via Mixcloud</a
    >{% endif %}
    <a
      href="https://hearthis.at/deephouse-uk/{{
        mix.hearThisSlug
      }}/download/"
      class="btn btn-sm btn-outline-secondary"
      rel="noreferrer"
      >Download</a
    >
    <button id="share-mix" class="d-none btn btn-sm btn-outline-secondary">Share</button>
  </p>
  <ol>
    {% for track in mix.tracklist %}
      <li>{{ track }}</li>
    {% endfor %}
  </ol>
  {% if mix.photoCredit %}<p class="small text-muted">{{ mix.photoCredit }}</p>{% endif %}
</article>
<script>
if (navigator.share) {
  document.addEventListener("DOMContentLoaded", () => {
    const shareMix = document.getElementById("share-mix");
    shareMix.addEventListener("click", () => navigator.share({url: "https://deephouse.uk/mix/{{ mix.slug }}/"}));
    shareMix
      .classList
      .remove("d-none");
  });
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "PodcastEpisode",
  "associatedMedia": {
    "@type": "MediaObject",
    "contentUrl": "https://hearthis.at/deephouse-uk/{{ mix.hearThisSlug }}/download/"
  },
  "datePublished": "{{ mix.date.toISOString() }}",
  "description": "{{ description | safe }}",
  "hasPart": [
    {% for track in mix.tracklist %}{
      "@type": "MusicRecording",
      "name": "{{ track }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "https://schema.org/ListenAction",
    "userInteractionCount": "{{ mix.popularity }}"
  },
  "name": "{{ mix.title }} - {{ mix.subtitle }}",
  "partOfSeries": {
    "@type": "PodcastSeries",
    "name": "Deep House Mixes - London, UK",
    "url": "https://deephouse.uk"
  },
  "timeRequired": "PT{{ mix.durationSeconds }}S",
  "url": "https://deephouse.uk/mix/{{ mix.slug }}/"
}
</script>