---
layout: layout.njk
eleventyComputed:
  title: "{{ mix.title }} - {{ mix.subtitle }} - Deep House Mixes - London, UK"
  description: "A continuous deep house DJ mix, recorded live in {{ mix.month }}, featuring music from {{ mix.artists | join(', ') }}."
  image: "mix/{{ mix.slug }}"
pagination:
  data: mix
  size: 1
  alias: mix
permalink: "/mix/{{ mix.slug }}/index.html"
---
<article class="card-body">
  <div class="d-flex flex-nowrap">
    <div class="pe-md-4 w-100">
      <h2 class="card-title pb-3 h3">{{ mix.title }}</h2>
      <p>
        <audio src="https://hearthis.at/deephouse-uk/{{ mix.slug }}/listen.mp3"
          preload="metadata" controls class="w-100 rounded"></audio>
      </p>
      <p class="small text-end pb-2">Recorded live in {{ mix.month }}</p>
    </div>
    <div class="flex-shrink-1 d-none d-md-block">
      <picture>
        <source srcset="/images/mix/{{ mix.slug }}.avif" type="image/avif" />
        <img
          src="/images/mix/{{ mix.slug }}.jpg"
          width="200" height="200" loading="lazy"
          class="float-end rounded"
          alt="{{ mix.title }} - Cover"
        />
      </picture>
      <span
          class="position-absolute top-0 end-0 badge rounded-pill m-4"
          style="background-color: #{{ mix.colour }}"
        >
          <span style="color: #{{ mix.colourContrast }}">
            {% if mix.popularity > 42 %}
            <svg class="align-bottom me-1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" role="img">
              <title>🎧</title>
              <use href="#headphones-{{ mix.colourContrast }}" />
            </svg>
            {{ mix.popularity }}{% else %}NEW{% endif %}
          </span>
        </span>
    </div>
  </div>
  <p>
    {% if mix.mixcloudSlug %}<a
      href="https://www.mixcloud.com/deephouse-uk/{{ mix.mixcloudSlug }}/"
      class="btn btn-sm btn-outline-secondary"
      rel="noreferrer"
      >Listen via Mixcloud</a
    >{% else %}<a
      href="https://hearthis.at/deephouse-uk/{{ mix.hearThisSlug }}/"
      class="btn btn-sm btn-outline-secondary"
      rel="noreferrer"
      >Listen via HearThis</a
    >{% endif %}
    <a
      href="https://hearthis.at/deephouse-uk/{{
        mix.hearThisSlug
      }}/download/"
      class="btn btn-sm btn-outline-secondary"
      rel="noreferrer"
      >Download</a
    >
    <button id="share-mix" class="d-none btn btn-sm btn-outline-secondary">Share</button>
  </p>
  <ol>
    {% for track in mix.tracklist %}
      <li>{{ track }}</li>
    {% endfor %}
  </ol>
  {% if mix.photoCredit %}<p class="small text-muted d-none d-md-block">{{ mix.photoCredit }}</p>{% endif %}
</article>
<script>
if (navigator.share) {
  document.addEventListener("DOMContentLoaded", () => {
    const shareMix = document.getElementById("share-mix");
    shareMix.addEventListener("click", () => navigator.share({url: "https://deephouse.uk/mix/{{ mix.slug }}/"}));
    shareMix
      .classList
      .remove("d-none");
  });
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "PodcastEpisode",
  "associatedMedia": {
    "@type": "MediaObject",
    "contentUrl": "https://hearthis.at/deephouse-uk/{{ mix.hearThisSlug }}/download/"
  },
  "datePublished": "{{ mix.date.toISOString() }}",
  "description": "{{ description | safe }}",
  "hasPart": [
    {% for track in mix.tracklist %}{
      "@type": "MusicRecording",
      "name": "{{ track }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "interactionStatistic": {
    "@type": "InteractionCounter",
    "interactionType": "https://schema.org/ListenAction",
    "userInteractionCount": "{{ mix.popularity }}"
  },
  "name": "{{ mix.title }} - {{ mix.subtitle }}",
  "partOfSeries": {
    "@type": "PodcastSeries",
    "name": "Deep House Mixes - London, UK",
    "url": "https://deephouse.uk"
  },
  "timeRequired": "PT{{ mix.durationSeconds }}S",
  "url": "https://deephouse.uk/mix/{{ mix.slug }}/"
}
</script>