<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" xml:base="https://deephouse.uk">
    <channel>
        <title>Deep House Mixes - London, UK</title>
        <link>https://deephouse.uk</link>
        <description>A selection of {{ pagination.items.length }} deep house DJ mixes, over {{ pagination.items | sumDurationAsHours }} hours of music, all recorded live.</description>
        <atom:link href="https://deephouse.uk/feed.xml" rel="self" type="application/rss+xml"/>
        <language>en-GB</language>
        <itunes:image href="https://deephouse.uk/images/decks.jpg"/>
        <itunes:owner>
            <itunes:email>podcast@deephouse.uk</itunes:email>
        </itunes:owner>
        <itunes:author>deephouse.uk</itunes:author>
        <itunes:category text="Music"/>
        <itunes:explicit>no</itunes:explicit>
        {% for mix in pagination.items %}
            <item>
                <title>{{ mix.title }} - {{ mix.subtitle}}</title>
                <link>https://deephouse.uk/mix/{{ mix.slug }}/</link>
                <pubDate>{{ mix.date | dateToRfc822 }}</pubDate>
                <guid>https://deephouse.uk/mix/{{ mix.slug }}</guid>
                <enclosure url="{{ mix.contentUrl }}" type="audio/mpeg" length="{{ mix.contentLength }}"/>
                <description>A continuous deep house DJ mix, recorded live in {{ mix.month }}, featuring music from {{ mix.artists | join(', ') }}.</description>
                <itunes:duration>{{ mix.durationSeconds }}</itunes:duration>
                <itunes:image href="https://deephouse.uk/images/mix/{{ mix.slug }}.jpg"/>
            </item>
        {% endfor %}
    </channel>
</rss>