<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xml:base="https://deephouse.uk">
    <channel>
        <title>Deep House Mixes - Lovell Fuller - London, UK</title>
        <link>https://deephouse.uk</link>
        <description>A selection of {{ pagination.items.length }} deep house DJ mixes, all recorded live.</description>
        <atom:link href="https://deephouse.uk/feed.xml" rel="self" type="application/rss+xml" />
        {% for mix in pagination.items %}<item>
                <title>{{ mix.title }} - {{ mix.month}}</title>
                <link>https://deephouse.uk/mix/{{ mix.slug }}</link>
                <pubDate>{{ mix.date | dateToRfc822 }}</pubDate>
                <guid>https://deephouse.uk/mix/{{ mix.slug }}</guid>
        </item>
        {% endfor %}
    </channel>
</rss>