<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title | safe }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="preload" href="/fonts/lily-script-one-v13-subset.woff2" as="font" type="font/woff2"/>
    <link rel="preload" href="/fonts/open-sans-v27.woff2" as="font" type="font/woff2"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <style>
      @font-face {
        font-family: "Lily Script One";
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url("/fonts/lily-script-one-v13-subset.woff2") format("woff2"); /* .dehkopsu */
      }
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: normal;
        font-display: block;
        src: url("/fonts/open-sans-v27.woff2") format("woff2");
      }
      body {
        font-family: "Open Sans", sans-serif;
      }
      h1 {
        font-family: "Lily Script One", sans-serif;
        color: indigo;
      }
    </style>
    <link rel="canonical" href="https://deephouse.uk{{ page.url }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#dadada"/>
    <link rel="alternate" type="application/rss+xml" title="Deep House Mixes - London, UK" href="/feed.xml"/>
    <link rel="sitemap" type="application/xml" title="Deep House Mixes - London, UK" href="/sitemap.xml"/>
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="theme-color" content="#dadada" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title | safe }}" />
    <meta name="twitter:site" content="@deephouse_uk" />
    <meta name="twitter:creator" content="@deephouse_uk" />
    <meta name="og:title" content="{{ title | safe }}"/>
    <meta name="og:url" content="https://deephouse.uk" />
    <meta name="og:image" content="https://deephouse.uk/images/{{ image }}.jpg" />
    <meta name="description" content="{{ description | safe }}"/>
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin/>
    <link rel="preconnect" href="https://app.hearthis.at" crossorigin/>
    <link rel="preconnect" href="https://cdn.hearthis.at" crossorigin/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D6YCH899KZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-D6YCH899KZ", { anonymize_ip: true });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col pt-3 pb-3">
          <header class="card shadow" style="background-color: navajowhite">
            <div class="card-body text-center">
              <h1 class="display-5 fw-bold">deephouse.uk</h1>
              <p>Deep House Mixes - London, UK</p>
              <a href="/" class="stretched-link" aria-label="Home"></a>
            </div>
          </header>
        </div>
      </div>
      <div class="col col-sm-12 pb-3">
        <main class="card shadow bg-thistle">
          {{ content | safe }}
        </main>
      </div>
    </div>
  </body>
</html>